.recipe {
    border: 3px dashed black;
    padding: 10px;
    margin: 10px;
    min-width: 500px;
    float: left;
}

.recipe > h1 {
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 1.5em;
}